/*===================imports==========================*/
/*===================variables==========================*/
/*===================font==========================*/
@font-face {
  font-family: didot;
  src: url("../didot-italic.ttf"); }

/*===================bg-image==========================*/
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../imagenes/city.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #00000000;
  font-family: didot;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

/*===================MENU==========================*/
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
  outline: none;
  box-shadow: none;
  border: 0; }
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    border: 0; }
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: 0; }
  .navbar-toggler span {
    margin: 0;
    padding: 0; }
  .navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg); }
  .navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0); }
  .navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg); }

.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0; }

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

.middle-bar {
  margin-top: 0px; }

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg); }

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100); }

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg); }

.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(263deg, #000000 0%, #F2F3F3 100%); }

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center; }
  .navbar-nav > li {
    display: inline-block;
    float: none;
    padding: 5px; }

#menu {
  background-color: black;
  z-index: 1; }
  #menu a {
    font-size: 18px;
    font-weight: 600;
    color: white; }
    #menu a:hover {
      color: yellow; }

button {
  font-size: 18px;
  font-weight: 600; }

/* efecto hover */
.hovereffects {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px; }
  .hovereffects:after {
    content: "";
    position: absolute;
    top: -50%;
    left: -60%;
    width: 20%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%); }
  .hovereffects:hover:after {
    opacity: 1;
    left: 130%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease; }
  .hovereffects:active:after {
    opacity: 0; }

/*===================gallery==========================*/
.container h1 {
  color: black;
  text-decoration: none; }

/*===================contact==========================*/
.masthead {
  min-height: 25vh;
  position: relative;
  color: yellow; }

h1 {
  color: black;
  font-size: 4rem; }

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%; }

.containerv2 {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 20px; }
  .containerv2 .row .col-lg-4 {
    display: flex;
    justify-content: center; }

/*===================about us members==========================*/
.card {
  position: relative;
  padding: 0;
  margin: 0 !important;
  border-radius: 20px;
  overflow: hidden;
  max-width: 280px;
  max-height: 340px;
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }
  .card .card-image {
    width: 100%;
    max-height: 340px; }
    .card .card-image img {
      width: 100%;
      max-height: 340px;
      object-fit: cover; }
  .card .card-content {
    position: absolute;
    bottom: -180px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    min-height: 140px;
    width: 100%;
    transition: bottom .4s ease-in;
    box-shadow: 0 -10px 10px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .card .card-content h4 {
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-align: center;
      transition: 0.8s;
      font-weight: 500;
      opacity: 0;
      transform: translateY(-40px);
      transition-delay: 0.2s; }
    .card .card-content h5 {
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-align: center;
      transition: 0.8s;
      font-weight: 500;
      opacity: 0;
      transform: translateY(-40px);
      transition-delay: 0.2s;
      transition: 0.5s;
      font-weight: 200;
      font-size: 0.8rem;
      letter-spacing: 2px; }
    .card .card-content .social-icons {
      list-style: none;
      padding: 0; }
      .card .card-content .social-icons li {
        margin: 10px;
        transition: 0.5s;
        transition-delay: calc(0.15s * var(--i));
        transform: translateY(50px); }
        .card .card-content .social-icons li a {
          color: #fff; }
          .card .card-content .social-icons li a span {
            font-size: 1.3rem; }
  .card:hover .card-content {
    bottom: 0px; }
    .card:hover .card-content h4 {
      transform: translateY(10px);
      opacity: 1; }
    .card:hover .card-content h5 {
      transform: translateY(10px);
      opacity: 1; }
    .card:hover .card-content .social-icons li {
      transform: translateY(20px); }

/*===================btn index==========================*/
.jumbotron {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px; }
  .jumbotron p {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center; }
    .jumbotron p a {
      color: black; }

/*===================footer + @import ==========================*/
footer {
  background: #000000;
  min-height: 50px;
  margin-top: auto; }
  footer p {
    color: #F2F3F3;
    text-align: center; }

#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: #F2F3F3; }

.form-label {
  color: #FFFF00; }

/*===================video==========================*/
header {
  position: relative;
  background-color: black;
  height: 40vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden; }
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  header .container {
    position: relative;
    z-index: 2; }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1; }

/*===================gmap==========================*/
.googlemap {
  width: 100%;
  filter: grayscale(100%) invert(100%);
  padding-top: 5px; }

.warning-color {
  color: #f0ad4e; }

.about h1 {
  color: yellow; }

.about p {
  color: white; }

/*===================be a model content==========================*/
.rich p {
  color: white; }

.rich h5 {
  color: yellow; }

.lead {
  color: white; }

/*===================index content==========================*/
.carousel-caption {
  bottom: 100px; }
  .carousel-caption h3 {
    color: yellow;
    font-size: 45px;
    letter-spacing: 2px;
    margin-top: 25px; }
  .carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9; }

/*===================mediasQ==========================*/
@media (max-width: 768px) {
  .masthead {
    min-height: 30vh; }
  .h1 {
    font-size: calc(1.525rem + 3.3vw); } }

@media (max-width: 991.5px) {
  .containerv2 {
    margin-top: 20px; }
  .containerv2 .row .col-lg-4 {
    margin: 20px 0px; } }

@media (pointer: coarse) and (hover: none) {
  header {
    background: url(imagenes/triumphal_arch.mp4); } }
